:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html, body {
  height: 100%;
  overflow: hidden;
}

body {  
  padding: 0;
  margin: 0 var(--body-margin-h);
  width: calc(var(--body-width) - var(--body-margin-h) * 2);
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);

}

.Typewriter__cursor {
  display: none;
}

:root {
  --body-width: 100%;
}

@media (max-width: 321px) { /* mobile-s */
  body {
    --body-margin-h: 20px;
    --header-logo-size: 16px;
  }
}

@media (min-width: 321px) and (max-width: 376px) { /* mobile-m */
  body {
    --body-margin-h: 30px;
    --header-logo-size: 20px;
  }
}

@media (min-width: 376px) and (max-width: 426px) { /* mobile-l */
  body {
    --body-margin-h: 40px;
    --header-logo-size: 24px;
  }
}

@media (min-width: 426px) and (max-width: 769px) { /* tablet */
  body {
    --body-margin-h: 60px;
    --header-logo-size: 28px;
  }
}

@media (min-width: 769px) and (max-width: 1025px) { /* desktop */
  body {
    --body-margin-h: 80px;
    --header-logo-size: 32px;
  }
}

@media (min-width: 1025px) and (max-width: 1441px) { /* large desktop */
  body {
    --body-margin-h: 100px;
    --header-logo-size: 36px;
  }
}

@media (min-width: 1441px) { /* 4K */
  body {
    --body-margin-h: 120px;
    --header-logo-size: 48px;
  }
}