.headerNavButton {
    color: var(--foreground);
    text-decoration: none;
    padding: 7px 14px;
    border-radius: 21px;
    font-size: calc(var(--header-logo-size) / 3);
}

.active {
    background-color: var(--foreground);
    color: var(--background);
}