.headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 32px;
    padding: 4px 2px;
    margin: 12px 0px;
    border-radius: 8px;
    user-select: none;
    transition: all 0.25s ease-in-out;
}

.headerLogo:hover {
    cursor: pointer;
}

.headerLogo > * {
    font-size: 32px;
    transition: all 0.15s ease-in-out;
}

.headerLogo:hover > * {
    font-size: 36px;
}

.charK, .charY, .charR {
  color: #FFFFFF;
}

.char4 {
  color: #ff6500;
}

.char2 {
  color: #009aff;
padding: 0 2px;
}