.headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 32px;
    margin: 12px 0px;
    border-radius: 8px;
    user-select: none;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
}

.headerLogo:hover {
    cursor: pointer;
}

.headerLogo > * {
    font-size: var(--header-logo-size);
}

.headerLogo:hover > * {
    font-size: calc(var(--header-logo-size) * 1.1);
    transition: all 0.15s ease-in-out;
}

.charK, .charY, .charR {
  color: var(--foreground);
}

.char4 {
  color: #ff6500;
}

.char2 {
  color: #009aff;
    padding: 0 2px;
}