.heroTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.heroTitle > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.writerFirst {
    color: var(--foreground);
}

.writerSecond {
    padding: 0 8px;
    transition: color 1s ease-in-out;
}

.writerSecond.animated {
    color: #ff6500;
}


/* Mobile Small */
@media (min-width: 320px) {
    .heroTitle > * {
        font-size: 12px;
    }
}

/* Mobile Medium*/
@media (min-width: 375px) {
    .heroTitle > * {
        font-size: 16px;
    }
}

/* Mobile */
@media (min-width: 425px) {
    .heroTitle > * {
        font-size: 24px;
    }
}

/* Mobile */
@media (min-width: 768px) {
    .heroTitle > * {
        font-size: 28px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .heroTitle > * {
        font-size: 36px;
    }
}

/* Desktop Large */
@media (min-width: 1440px) {
    .heroTitle > * {
        font-size: 40px;
    }
}