.heroTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

.heroTitle > * {
    font-size: 36px;
}

.writerFirst {
    color: var(--foreground);
}

.writerSecond {
    color: #ff6500;
    padding: 0 8px;
}